body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.appBackground {
    background-color: lightslategray;
    width: 100%;
    height: 100%;
}

.titleHeader {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.userHeader {
    background-color: gainsboro;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    border: 1px solid black; 
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
    box-sizing: border-box;
}

.postListBackground {
    background-color: bisque;
    width: 75%;
    height: fit-content;
    border: 5px solid black; 
    border-radius: 5px;
    padding: 1%; 
    box-sizing: border-box;
    margin-left: 15%;
}

.postList {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.userPosts {
    background-color: gainsboro;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    margin: 1%;
}

.postItem {
    background-color: palevioletred;
    width: 23%;
    border: 1px solid black; 
    border-radius: 5px;
    padding: 1%; 
    box-sizing: border-box;
    margin: 1%;
}