body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.appBackground {
    background-color: lightslategray;
    width: 100vw;
    height: 100vh;
}

.titleHeader {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.userHeader {
    background-color: gainsboro;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 70vh;
    border: 1px solid black; 
    border-radius: 5px;
    margin: 1%;
    box-sizing: border-box;
}

.postListBackground {
    background-color: bisque;
    width: 75vw;
    height: 100vh;
    border: 5px solid black; 
    border-radius: 5px;
    padding: 1%; 
    box-sizing: border-box;
    margin-left: 15%;
}

.postList {
    display: -webkit-box;
    overflow-x: auto;
}

.userPosts {
    background-color: gainsboro;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
}

.postItem {
    background-color: palevioletred;
    width: 23%;
    height: 15vh;
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 1%; 
    box-sizing: border-box;
    margin: 1%;
}

.showButtonGroup {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    column-gap: 1%;
}

.userButtonGroup {
    display: flex;
    flex-direction: row;
    column-gap: 87%;
}

.nextUserButton {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end; 
    align-items: center;    
}

.previousUserButton {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: center;    
}